
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic);
body {
  font-family: 'Arvo', serif !important;
  padding: 2em;
  background: #F3D43E !important;
}

h1, h4 {
  padding: 0 !important;
  margin: 0 !important;
}

header {
  max-width: 45em;
  margin-bottom: 25px;
}

.spacer {
  margin-bottom: 50px;
}

p {
  line-height: 1.5em;
  margin: 1em;
}

div {
  margin-bottom: 25px;
}





#chatbox {
  padding: 5px;
  width: 800px;
  height: 300px;
  border: 1px solid #D587C5;
  margin: 0;
  overflow: scroll;
}

#wrap, #send_box, #connect_box {
  display: none;
}

input[type='text'] {
  padding: 0 6px;
}

input, button {
  background: #D587C5;
  border: none !important;
  outline: none !important;
}

.glyphicon, button, input[type='submit'] {
  cursor: pointer;
}

.glyphicon {
  color: #D587C5;
  margin-left: 8px !important;
}

.glyphicon:hover {
  color: #F48E35;
}

button:hover, input[type='submit']:hover, input:focus {
  background: #F48E35;
}


#add, input[type='submit'] {
  width: 90px;
  margin: 12px 12px 0 0;
}



ul, li {
  list-style: none;
  padding: 0;
  margin: 0 0 6px 0;
}


